# Dependencies
node_modules/
package-lock.json

# Build
dist/

# Testing
coverage/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Firebase
firebase-debug.log
ui-debug.log
firestore-debug.log
database-debug.log

# Docker
.dockerignore
